<link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
<script type="text/javascript" src="/js/jquery/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/js/jquery/ui/jquery-ui-1.11.0.min.js"></script>
<form action="/index.php" id="port_add_form" method="GET">
<div style="color:white">
<input type="hidden" name="customer_id" value="<?php echo $this->getRequest()->getParam('id')?>">
	Status: 
	<input type="radio" id="status_port" name="status" value="port">Portfolio <input type="radio" id="status_sold" name="status" value="sold">Sold
	<div id="add_product" style="display:none">
		Product Id:<input type="text" name="product_id">
	</div>
	<div id="add_price" style="display:none">
		Price(GBP):<input type="text" name="price">
	</div>
	<div id="add_qty" style="display:none">
		Quantity:<input type="text" name="qty">
	</div>
	<div id="add_order_id" style="display:none">
		Order ID(9 digits): <input type="text" name="order_id" >
	</div>
	<div id="add_credit_id" style="display:none">
		Credit ID(9 digits): <input type="text" name="credit_id" >
	</div>
	<div id="add_date" style="display:none">
		Date:<input type="text" name="date" id="date_picker">
	</div><br>
	<button id="port_add_submit">confirm</button>
	</div>
</form>
<script type="text/javascript">
	jQuery('#port_add_submit').click(function(event){
		event.preventDefault();
		jQuery.get('/admin/portfolio_index/add',jQuery('#port_add_form').serialize(),function(data){
			if(JSON.parse(data).status == 1){
				window.parent.location.reload();
				window.parent.win.close();
			}else{
				alert('Action failed, please try again');
			}
		});
	})
	jQuery('#status_port').on('change',function(){
		jQuery('#add_price').hide();
		jQuery('#add_qty').show();
		jQuery('#add_order_id').show();
		jQuery('#add_date').show();
		jQuery('#add_credit_id').hide();
		jQuery('#add_product').show();
	})
	jQuery('#status_sold').on('change',function(){
		jQuery('#add_price').show();
		jQuery('#add_qty').show();
		jQuery('#add_shipping_from').hide();
		jQuery('#add_date').hide();
		jQuery('#add_order_id').show();
		jQuery('#add_credit_id').show();
		jQuery('#add_product').show();
	});
	jQuery("#date_picker").datepicker({ changeYear: true ,
										dateFormat: "yy-mm-dd 00:00:00" });
</script>