<link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
<script type="text/javascript" src="/js/jquery/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/js/jquery/ui/jquery-ui-1.11.0.min.js"></script>
<form action="/index.php" id="port_edit_form" method="GET">
<div style="color:white;margin-right:5px">
<input type="hidden" name="id" value="<?php echo $this->getRequest()->getParam('id')?>">
	Action: <?php echo $this->getActions();?>
	 <div id="edit_tip1" style="display:none;color:red">Tip:Leave RMA ID blank to create a new one</div>
	 <div id="edit_tip2" style="display:none;color:red">Tip:Input negative number to increase quantity</div>
	<div id="edit_price" style="display:none">
		Price(GBP):<input type="text" name="price" value="<?php echo $this->getPrice()?>"><span style="color:red">*</span>
	</div>
	<div id="edit_qty" style="display:none">
		Quantity:<input type="text" name="qty" value="<?php echo $this->getQty();?>"><span style="color:red">*</span>
	</div>
	<div id="edit_credit" style="display:none">
		RMA Reference:<input type="text" name="credit_id">
	</div>
	<div id="edit_date" style="display:none">
		Date:<input type="text" name="date" id="date_picker" value="<?php echo $this->getDate();?>">
	</div>
	<div id="edit_shipping_from" style="display:none">
	Shipping From:<br>
	<input type="radio" name="shipping_from" value="London City Bond">London City Bond<br>
	<input type="radio" name="shipping_from" value="Provenance in Bond">Provenance in Bond<br>
	<input type="radio" name="shipping_from" value="other">Other(Please comment)&nbsp;<input type="text" name="shipping_from_comment"><br>
	</div>
	<div id="edit_commision" style="display:none">
	  Transaction Fee:<input type="text" name="commision">
	</div>
	<div id="edit_stage" style="display:none">
		Status:
			<select name="stage">
		<?php foreach(Mage::helper('portfolio')->getStages() as $code=>$desc){?>
				<option value="<?php echo $code?>" <?php if($code == $this->getStage())echo 'selected';?>><?php echo $desc?></option>
		<?php }?>
			</select>
	</div>
	<button id="port_edit_submit">confirm</button>
	</div>
</form>
<script type="text/javascript">
	jQuery('#port_edit_submit').click(function(event){
		event.preventDefault();
		jQuery(this).attr('disabled','disabled');
		jQuery.get('<?php echo $this->getUrl("adminhtml/portfolio_index/edit")?>',jQuery('#port_edit_form').serialize(),function(data){
			try{
				var ret = JSON.parse(data);
			}catch(e){
				var ret = null;
			}
			if(ret && ret.status == 1){
				window.parent.location.reload();
				window.parent.win.close();
			}else{
				if(ret&&ret.message)
					alert(ret.message);
				else
					alert('Action failed, please try again');
				jQuery('#port_edit_submit').removeAttr('disabled');
			}
		});
	})
	jQuery('#action_sell').on('change',function(){
		jQuery('#edit_tip1').hide();
		jQuery('#edit_tip2').hide();
		jQuery('#edit_price').show();
		jQuery('#edit_qty').show();
		jQuery('#edit_shipping_from').hide();
		jQuery('#edit_date').show();
		jQuery('#edit_credit').hide();
		jQuery('#edit_commision').hide();
		jQuery('#edit_stage').hide();
	})
	jQuery('#action_complete_sell').on('change',function(){
		jQuery('#edit_tip1').show();
		jQuery('#edit_tip2').hide();
		jQuery('#edit_price').hide();
		jQuery('#edit_qty').hide();
		jQuery('#edit_shipping_from').hide();
		jQuery('#edit_date').show();
		jQuery('#edit_credit').show();
		jQuery('#edit_commision').show();
		jQuery('#edit_stage').hide();
	})
	jQuery('#action_change_qty').on('change',function(){
		jQuery('#edit_tip1').hide();
		jQuery('#edit_tip2').show();
		jQuery('#edit_price').hide();
		jQuery('#edit_qty').show();
		jQuery('#edit_shipping_from').hide();
		jQuery('#edit_date').hide();
		jQuery('#edit_credit').hide();
		jQuery('#edit_commision').hide();
		jQuery('#edit_stage').hide();
	})
	jQuery('#action_cancel_selling').on('change',function(){
		jQuery('#edit_tip1').hide();
		jQuery('#edit_tip2').hide();
		jQuery('#edit_price').hide();
		jQuery('#edit_qty').show();
		jQuery('#edit_shipping_from').hide();
		jQuery('#edit_date').hide();
		jQuery('#edit_credit').hide();
		jQuery('#edit_commision').hide();
		jQuery('#edit_stage').hide();
	})
	jQuery('#action_shipping_from').on('change',function(){
		jQuery('#edit_tip1').hide();
		jQuery('#edit_tip2').hide();
		jQuery('#edit_price').hide();
		jQuery('#edit_qty').hide();
		jQuery('#edit_shipping_from').show();
		jQuery('#edit_date').hide();
		jQuery('#edit_credit').hide();
		jQuery('#edit_commision').hide();
		jQuery('#edit_stage').hide();
	})
	jQuery('#action_change_stage').on('change',function(){
		jQuery('#edit_tip1').hide();
		jQuery('#edit_tip2').hide();
		jQuery('#edit_price').hide();
		jQuery('#edit_qty').hide();
		jQuery('#edit_stage').show();
		jQuery('#edit_date').hide();
		jQuery('#edit_credit').hide();
		jQuery('#edit_commision').hide();
		jQuery('#edit_shipping_from').hide();
	})
	jQuery("#date_picker").datepicker({ changeYear: true ,
										dateFormat: "yy-mm-dd 00:00:00" });
</script>