<?php
	/**
	*
	* This program is free software; you can redistribute it and/or modify
	* it under the terms of the GNU General Public License as published by
	* the Free Software Foundation; either version 2 of the License, or
	* (at your option) any later version.
	*
	* This program is distributed in the hope that it will be useful,
	* but WITHOUT ANY WARRANTY; without even the implied warranty of
	* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	* GNU General Public License for more details.
	*
	* You should have received a copy of the GNU General Public License along
	* with this program; if not, write to the Free Software Foundation, Inc.,
	* 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
	*
	*
	* @license GPL 2.0
	* @package Comwrap/Pdf/Templates
	* @author Thomas Spigel <tspigel@comwrap.com>
	* @version 1.0
	*
	* @var $this Comwrap_Pdf_Block_Invoice
	*/
	$imageUrl = Mage::getStoreConfig('sales/identity/logo', $store);
	
	if ($imageUrl)
		$image = Mage::getBaseUrl('media') . '/sales/store/logo/' . $imageUrl;
		
	$i = 0;
?>

<head>
	<style type="text/css">
		body {
			font-size: 14px;
			font-family: "linlibertine";
		}
		
		table {
			border-collapse: collapse;
			width: 100%;
			border: none;
			padding: 0;
		}

		table tr:first-child td:first-child { border-left: 0; border-top: 0; padding:5px 10px;}
		table td {
			padding: 10px;
		}
		
		.border-right {
			border-right: none
		}
		
		.border-bottom {
			border-bottom: 2px solid #000;
		}

		.header table td {
			font-size: 13px;
			padding: 1px;
			color: #000;
		}
		
		.no-border {
			border: 0;
		}
		
		thead tr th {
			font-weight: bold;
			padding: 10px;
		}
		
		#track td, #track th {
			padding: 1px 80px 1px 5px;
			font-size: 12px;
		}
		
		.products td {
			padding: 6px;
			height: 10px;
			vertical-align: top;
		}
		
		.products-head {
			padding: 6px !important;
			height: 10px;
			background-color: #fff;
		}
		
		.products-head td {
			border: none;
			font-weight: normal !important;
			padding: 6px !important;
			height: 10px;
		}
		
		.totals td {
			font-size: 16px;
			font-weight: bold;
			padding: 6px;
			padding-right: 0px;
		}
		
		.product-options {
			font-size: 12px;
		}

		.address-info {
			font-size: 14px;
		}	

		p {
			font-size: 10px;
		}

		h3 {
			font-size: 14px;
		}

		h5 {
			font-size:12px;
		}
	</style>
</head>
<body>
<?php /* @var $_invoice Mage_Sales_Model_Order_Invoice */
	foreach($this->getInvoice() as $_invoice):
		$this->startEmulateEnvironment($_invoice->getStoreId());
		
		if($i > 0) : ?>
			<pagebreak />
		<?php endif;
		
		$this->setOrder($_invoice->getOrder());
		$_date = new Zend_Date($_invoice->getOrder()->getCreatedAt());

		if($imageUrl): ?>
			<div style="float: left; display: inline-block; width: 200px;">
				<img width="200" src="<?php echo $image?>" />
			</div>
			<div style="float: left; display: inline-block;">
				<h1>SURE HOLDINGS LTD</h1>
				<p>Unit B Lot 49<br />
				1st Floor Block F Lazenda Warehouse 3<br />
				Jalan Ranca-Ranca 87000<br />
				F.T. Labuan Malaysia</p>
			</div>
		<?php endif;?>
		<h1>Invoice</h1>
		<hr style="color: #000;" />
		<table cellpadding="0" cellspacing="0">
			<tr style="background-color: #fff; color: #000;">
				<td class="header" colspan="2">
					<table>
						<tr>
							<td><?php echo $this->__('Invoice # ')?></td>
							<td><?php echo $_invoice->getIncrementId()?></td>
						</tr>
						<tr>
							<td><?php echo $this->__('Order # ')?></td>
							<td><?php echo $_invoice->getOrder()->getIncrementId()?></td>
						</tr>
						<tr>
							<td><?php echo $this->__('Order Date: ')?></td>
							<td><?php echo $_date->get(Mage::app()->getLocale()->getDateFormat('medium'));?></td>
						</tr>
					</table>
				</td>
			</tr>
			<tr style="background-color: #fff">
				<th style="padding: 10px; text-align: left; width: 50%" class="border-bottom border-right"><?php echo $this->__('Billing Address'); ?></th>
				<th style="padding: 10px; text-align: left; width: 50%" class="border-bottom"><?php echo $this->__('Delivery Address'); ?></th>
			</tr>
			<tr>
				<td><p class="address-info"><?php echo $_invoice->getBillingAddress()->format('html');?></p></td>
				<td><p class="address-info"><?php echo $_invoice->getShippingAddress()->format('html');?></p></td>
			</tr>
		</table>
		<br/>
		<br/>
		<table class="no-border products" cellpadding="0" cellspacing="0">
			<thead style="border-bottom: 2px solid #000 !important;">
				<tr class="products-head border-bottom" style="border-bottom: 2px solid #000 !important;">
					<td><?php echo $this->__('Products'); ?></td>
					<td style="text-align: right; border-left: 0; border-right: 0;"><?php echo $this->__('Price'); ?></td>
					<td style="text-align: right; border-left: 0; border-right: 0;"><?php echo $this->__('Qty'); ?></td>
					<td style="text-align: right; border-left: 0; border-right: 0;"><?php echo $this->__('Tax'); ?></td>
					<td style="text-align: right; border-left: 0; "><?php echo $this->__('Subtotal'); ?></td>
				</tr>
			</thead>
			<tbody>
			<?php /* @var $_item Mage_Sales_Model_Order_Invoice_Item */
			foreach($_invoice->getAllItems() as $_item):
				if($continue) {
					$continue = false;
					continue;
				} ?>
				<tr>
					<?php $productOptions = $_item->getOrderItem()->getProductOptions();
					if(!empty($productOptions['attributes_info'])):
						$continue = true; ?>
						<td>
							<?php echo $_item->getName();
							foreach($productOptions['attributes_info'] as $productOption): ?>
								<br />
								<span class="product-options">
									<i><?php echo $productOption['label']?></i><br />
									&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $productOption['value'];?>
								</span>
							<?php endforeach;?>
						</td>
					<?php else: ?>
						<td><?php echo $_item->getName() ?></td>
					<?php endif;?>
					<td style="text-align: right; font-weight: bold;"><?php echo Mage::helper('core')->currency($_item->getPrice())?></td>
					<td style="text-align: right;"><?php echo (int)$_item->getQty() ?></td>
					<td style="text-align: right; font-weight: bold;"><?php echo Mage::helper('core')->currency($_item->getTaxAmount())?></td>
					<td style="text-align: right; font-weight: bold;"><?php echo Mage::helper('core')->currency($_item->getPriceInclTax()*$_item->getQty())?></td>
				</tr>
			<?php endforeach; ?>
			</tbody>
		</table>
		<br />
		<br />
		<br />
		<table class="no-border totals" style="" cellpadding="0" cellspacing="0">
			<tbody>
				<tr>
					<td style="width: 60%">&nbsp;</td>
					<td style="text-align: right; width: 25%;"><?php echo $this->__('Subtotal');?>:</td>
					<td style="text-align: right; width: 15%;"><?php echo Mage::helper('core')->currency($_invoice->getSubtotal())?></td>
				</tr>
				<tr>
					<td style="width: 70%">&nbsp;</td>
					<td style="text-align: right; width: 25%;"><?php echo $this->__('Shipping & Handling')?>:</td>
					<td style="text-align: right; width: 15%;"><?php echo Mage::helper('core')->currency($_invoice->getShippingInclTax())?></td>
				</tr>
				<tr>
					<td style="width: 70%">&nbsp;</td>
					<td style="text-align: right; width: 25%;"><?php echo $this->__('Grand Total')?>:</td>
					<td style="text-align: right; width: 15%;"><?php echo Mage::helper('core')->currency($_invoice->getGrandTotal())?></td>
				</tr>
			</tbody>
		</table>
		<table width="100%">
			<tr>
				<td>
					<?php
						$comments = $_invoice->getCommentsCollection()->getItems();
						if ($comments) :?>
							<h3>Comments</h3>
						<?php endif;
						foreach ($comments as $comment) {
							if ($comment->getData('is_visible_on_front'))
								echo "<p>".$comment->getData('comment')."</p>";
						}
					?>
				</td>
			</tr>
			<tr>
				<td>
					<hr style="color: #000;"/>
					<h3>PAYMENT TERMS</h3>
					<h5>Immediate</h5>
					<p>Bank Information</p>
					<p>Beneficiary Bank: <strong>HSBC Hong Kong</strong></p>
					<p>Beneficiary Bank Address: <strong>1 Queen’s Road Central, Hong Kong</strong></p>
					<p>Swift Address: <strong>HSBCHKHHHKH</strong></p>
					<p>Beneficiary Name: <strong>Sure Holdings Ltd</strong></p>
					<p>Beneficiary Address: <strong>Unit B Lot 49 1st Floor Block F Lazenda Warehouse 3 Jalan Ranca-Ranca 87000 F.T. Labuan Malaysia </strong></p>
					<p>Account Number: <strong>801-046129-838</strong></p><br />
					<p><strong>PLEASE ENSURE PAYMENT IS MADE IN THE CURRENCY OF THIS INVOICE. SURE HOLDINGS MUST RECEIVE IN CLEARED FUNDS THE TOTAL AMOUNT STATED IN THIS INVOICE. PLEASE ENSURE TO ADVISE YOUR BANK TO COVER BOTH LOCAL AND OVERSEAS BANK CHARGES AND THE AMOUNT THAT REACHES OUR BANK ACCOUNT IS EQUAL TO THIS INVOICE AMOUNT.<br />
					WE THANK YOU FOR YOUR BUSINESS.</strong></p>
				</td>
			</tr>
		</table>
<?php
	++$i;
	$this->stopEmulateEnvironment();
endforeach;?>
</body>