<!--@subject CRM Notification: {{var title}} @-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#e3f6e2; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
    <table cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr>
            <td align="center" valign="top" style="padding:20px 0 20px 0">
                <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                    <!-- [ header starts here] -->
                    <tr>
                        <td valign="top"><a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a></td>
                    </tr>
                    <!-- [ middle starts here] -->
                    <tr>
                        <td valign="top">
                            <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;">Hello!</h1>
                            <p style="font-size:12px; line-height:16px; margin:0;">
                                Reminder with <strong>ID #{{var reminder_id}}</strong> "{{var title}}" has been changed.
                            </p>
                            <p style="font-size:12px; line-height:16px; margin:0;">
                                It has acquired the status <strong>"Running"</strong>.
                            </p>
                    </tr>
                    <tr>
                        <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;"><center><p style="font-size:12px; margin:0;">Reminder Info</p></center></td>

                    </tr>
                    <tr>
                        <td>
                            <p style="font-size:12px; line-height:16px; margin:0;">
                                Start Date: <strong>{{var startDateTime}}</strong>
                            </p>
                            <p style="font-size:12px; line-height:16px; margin:0;">
                                Due Date: <strong>{{var dueDateTime}}</strong>
                            </p>
                            <p style="font-size:12px; line-height:16px; margin:0;">
                                You can see this reminder in the <a href="{{var reminderUrl}}" style="color:#1E7EC8;">admin panel</a>.
                            </p>
                            <hr>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;"><center><p style="font-size:12px; margin:0;">Thank you again, <strong>{{var store.getFrontendName()}}</strong></p></center></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>