<div>
    <?php echo $this->getChildHtml('crm_reminders') ?>

    <div class="entry-edit">
        <?php echo $this->getChildHtml('customer_attachment') ?>
        <?php //echo $this->getChildHtml('customer_remind') ?>
    </div>

    <div class="clear"></div>
</div>
