<div class="entry-edit">
    <div class="entry-edit-head">
        <h4><?php echo $this->__('Attachments') ?></h4>
    </div>
    <fieldset>
        <span class="field-row">
         <?php echo $this->getChildHtml('attachment.grid') ?>
        </span>
        <div class="divider"></div>
        <div class="field-row">
            <form id="attachment_upload" action="<?php echo $this->generateUploadUrl() ?>" method="POST" enctype="multipart/form-data">
                <input name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>"/>

                <div class="f-left">
                    <input id="attachment_file" name="attachment_file" value="" type="file">
                </div>

                <div class="f-right">
                    <button id="test" type="submit" class="save"><?php echo $this->__('Upload') ?></button>
                </div>
            </form>
        </div>
    </fieldset>
</div>

<?php /*
<div class="entry-edit">
    <div class="entry-edit-head">
        <h4><?php echo $this->__('Attachments') ?></h4>
    </div>
    <fieldset>
        <?php if ($attachments = $this->outputAttachment()): ?>
            <?php foreach ($attachments as $_item): ?>
                <?php $path = pathinfo($_item->getPath()) ?>
                <a href="<?php echo $this->generateRemoveUrl($_item->getId()) ?>" title="Remove"><img style="vertical-align: middle;" title="Remove" alt="Remove" src="<?php echo $this->getSkinUrl() . 'images/icon_btn_delete.gif' ?>"></a>
                <a target="_blank" href="<?php echo Mage::getBaseUrl('media') . $_item->getPath() ?>" title="<?php echo $path['basename'] ?>"><?php echo $path['basename'] ?></a><br/>
            <?php endforeach; ?>
        <?php endif; ?>
        <div class="divider"></div>
        <div class="field-row">
            <form id="attachment_upload" action="<?php echo $this->generateUploadUrl() ?>" method="POST" enctype="multipart/form-data">
                <input name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>"/>

                <div class="f-left">
                    <input id="attachment_file" name="attachment_file" value="" type="file">
                </div>

                <div class="f-right">
                    <button id="test" type="submit" class="save"><?php echo $this->__('Upload') ?></button>
                </div>
            </form>
        </div>
    </fieldset>
</div>
 */ ?>
