<?php
if ($this->loadReminders()):
    foreach ($this->loadReminders() as $reminder):
        ?>
        <?php $helper          = Mage::helper('crm'); ?>
        <?php $isReminderEnded = $helper->isReminderEnded($reminder); ?>
        <?php if ($isReminderEnded): ?>
            <div class="crm-reminders failed">
            <?php else: ?>
                <div class="crm-reminders">
                <?php endif; ?>
                <div class="fl small">
                    <div class="content">
                        <?php if ($reminder->getContent()): ?>
                            <button class="<?php if ($reminder->getContent()): ?>small-reminder<?php endif; ?> reminder_view"
                                    onclick="ReminderPopup.openDialog('<?php echo Mage::helper('adminhtml')->getUrl('crm/ajax/viewReminder', array('id' => $reminder->getId())); ?>')"
                                    type="button"><span><?php echo $this->__('View Content') ?></span>
                            </button>
                        <?php endif; ?>
                        <button class="<?php if ($reminder->getContent()): ?>small-complete<?php endif; ?> reminder_complete save reminder<?php echo $reminder->getId() ?>" onclick="new Ajax.Request('<?php echo Mage_Adminhtml_Helper_Data::getUrl('crm/ajax/complete', array('id' => $reminder->getId())) ?>', {
                                                        onComplete: function(response) {
                                                            $$('.reminder<?php echo $reminder->getId() ?>').first().up(2).remove()
                                                        }});"
                                type="button"><span><?php echo $helper->__('Complete') ?></span>
                        </button>
                    </div>
                </div>
                <div class="fl">
                    <div class="content">
                        <strong><?php echo $helper->__('Customer name') ?></strong> - <?php echo $this->generateCustomerName($reminder->getData('order_id'), $reminder->getData('customer_id')) ?>;
                        <strong><?php echo $helper->__('Date/Time') ?></strong> - <?php echo $reminder->getData('datetime') ?>;
                        <?php if ($reminder->getData('duedatetime')): ?>
                            <strong><?php echo $helper->__('Due Date/Time'); ?></strong> - <?php echo date("Y-m-d", strtotime($reminder->getData('duedatetime'))) ?>;
                        <?php endif; ?>
                        <strong><?php echo $helper->__('Assigned to User'); ?></strong> - <?php echo $this->getCustomerName($reminder->getData('user_id')) ?>;
                        &nbsp;&nbsp;
                        <a href="<?php echo $this->generateUrl($reminder->getId()); ?>">
                            <?php echo $helper->__('Edit Reminder') ?>
                        </a>
                    </div>
                    <div class="reminder_note"><strong><?php echo $helper->__('Note') ?></strong> - <?php
                        $note = $reminder->getData('title');
                        echo (strlen($note) > 200) ? substr($note, 0, 200) . '... ' . '<a href="' . Mage_Adminhtml_Helper_Data::getUrl('crm/grid/edit', array('id' => $reminder->getId())) . '">Read more</a>' : $note
                        ?>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <?php
        endforeach;
    endif;
    ?>
    <style>
        .crm-reminders {background-color: #<?php echo Mage::getStoreConfig('crm/general/running_reminders') ?>;}
        .crm-reminders.failed {background-color: #<?php echo Mage::getStoreConfig('crm/general/failed_reminders') ?>;}
    </style>
