<div class="entry-edit">
    <div class="entry-edit-head">
        <h4><?php echo $this->__('Reminders') ?></h4>

        <div class="right">
            <?php echo $this->getAddButtonHtml() ?>
        </div>
    </div>
    <fieldset>
        <span class="field-row">
         <?php echo $this->getChildHtml('reminders.grid') ?>
        </span>
    </fieldset>
</div>