<?php
/**
 * Register form
 */
?>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>

<div class="my-account">
    <div class="page-title">
        <h2><?php echo $this->__('Affiliate Registration'); ?></h2>
    </div>

    <form id="signup_affiliate_account_form" method="post" action="<?php echo $this->getUrl('affiliateplus/account/createPost') ?>">
        <?php //if (!$this->customerLoggedIn()): ?>
        <div class="fieldset">
            <h2 class="legend"><?php echo $this->__('Create Your Account') ?></h2>
            <ul class="form-list">
                <?php if (!$this->customerLoggedIn()): ?>
                    <li class="fields">
                        <div class="customer-name">
                            <div class="field name-firstname">
                                <label class="required" for="firstname"><em>*</em><?php echo $this->__('First Name') ?></label>
                                <div class="input-box">
                                    <input type="text" class="input-text required-entry" title="First Name" name="firstname" id="firstname" value="<?php echo $this->getFormData('firstname') ?>">
                                </div>
                            </div>
                            <div class="field name-lastname">
                                <label class="required" for="lastname"><em>*</em><?php echo $this->__('Last Name') ?></label>
                                <div class="input-box">
                                    <input type="text" class="input-text required-entry" title="Last Name"  name="lastname" id="lastname" value="<?php echo $this->getFormData('lastname') ?>">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <label for="email_address" class="required"><em>*</em><?php echo $this->__('Email Address') ?></label>
                        <div class="input-box">
                            <input type="text" name="email" id="email_address" onchange="checkEmailRegister('<?php echo $this->getCheckCustomerEmailUrl(); ?>', 'signup_account_account_form');" title="<?php echo $this->__('Email Address') ?>" class="input-text validate-email required-entry" value="<?php echo $this->getFormData('email') ?>" />
                            <span id="affiliate-please-wait-email" style="display:none;" class="opc-please-wait">
                                <img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" class="v-middle" alt="" /> &nbsp; <?php echo $this->__('Checking email address') ?>...
                            </span>
                            <div id="affiliate_message_hidden_email" class="affiliate_message"></div>
                            <div class="affiliate_message" id="affiliate_message_email" style="display:none">
                                <?php echo $this->__('This username is already existed.  Please use a different one.'); ?>
                            </div>
                        </div>
                    </li>
                    <?php if (0 && Mage::helper('core')->isModuleOutputEnabled('Mage_Newsletter')): ?>
                        <li class="control">
                            <div class="input-box">
                                <input type="checkbox" name="is_subscribed" title="<?php echo $this->__('Sign up for our Newsletters') ?>" value="1" id="is_subscribed"<?php if ($this->getFormData('is_subscribed')): ?> checked="checked"<?php endif; ?> class="checkbox" />
                            </div>
                            <label for="is_subscribed"><?php echo $this->__('Sign up for our Newsletters') ?></label>
                        </li>
                    <?php endif ?>
                    <?php $_dob = $this->getLayout()->createBlock('customer/widget_dob') ?>
                    <?php if ($_dob->isEnabled()): ?>
                        <li><?php echo $_dob->setDate($this->getFormData('dob'))->toHtml() ?></li>
                    <?php endif ?>
                    <?php $_taxvat = $this->getLayout()->createBlock('customer/widget_taxvat') ?>
                    <?php if ($_taxvat->isEnabled()): ?>
                        <li><?php echo $_taxvat->setTaxvat($this->getFormData('taxvat'))->toHtml() ?></li>
                    <?php endif ?>
                    <?php $_gender = $this->getLayout()->createBlock('customer/widget_gender') ?>
                    <?php if ($_gender->isEnabled()): ?>
                        <li><?php echo $_gender->setGender($this->getFormData('gender'))->toHtml() ?></li>
                    <?php endif ?>
                    <li class="fields">
                        <div class="field">
                            <label for="password" class="required"><em>*</em><?php echo $this->__('Password') ?></label>
                            <div class="input-box">
                                <input type="password" name="password" id="password" title="<?php echo $this->__('Password') ?>" class="input-text required-entry validate-password" />
                            </div>
                        </div>
                        <div class="field">
                            <label for="confirmation" class="required"><em>*</em><?php echo $this->__('Confirm Password') ?></label>
                            <div class="input-box">
                                <input type="password" name="confirmation" title="<?php echo $this->__('Confirm Password') ?>" id="confirmation" class="input-text required-entry validate-cpassword" />
                            </div>
                        </div>
                    </li>
                <?php endif ?>
                <!--/ul>
        </div>
                <?php //endif ?>
        
                <?php if ($this->requiredAddress()): ?>
            <div class="fieldset">
                    <h2 class="legend"><?php echo $this->__('Address Information') ?></h2>
                    <ul class="form-list"-->
                    <?php if ($this->customerHasAddresses()): ?>
                        <li class="wide">
                            <label for="customer-address-select"><?php echo $this->__('Select an address from your address book or enter a new address.') ?></label>
                            <div class="input-box">
                                <?php echo $this->getAddressesHtmlSelect('account') ?>
                            </div>
                        </li>
                    <?php endif; ?>
                    <li id="account-new-address-form" <?php if ($this->customerHasAddresses()): ?> style="display:none;"<?php endif; ?>>
                        <fieldset>
                            <input type="hidden" name="account[address_id]" value="<?php echo $this->getAddress()->getId() ?>" id="account:address_id" />
                            <ul>
                                <li class="wide">
                                    <label for="account:street1" class="required"><em>*</em><?php echo $this->__('Address') ?></label>
                                    <div class="input-box">
                                        <input type="text" title="<?php echo $this->__('Street Address') ?>" name="account[street][]" id="account:street1" value="<?php echo $this->htmlEscape($this->getAddress()->getStreet(1)) ?>" class="input-text required-entry" />
                                    </div>
                                </li>
                                <?php for ($_i = 2, $_n = $this->helper('customer/address')->getStreetLines(); $_i <= $_n; $_i++): ?>
                                    <li class="wide">
                                        <div class="input-box">
                                            <input type="text" title="<?php echo $this->__('Street Address %s', $_i) ?>" name="account[street][]" id="account:street<?php echo $_i ?>" value="<?php echo $this->htmlEscape($this->getAddress()->getStreet($_i)) ?>" class="input-text" />
                                        </div>
                                    </li>
                                <?php endfor ?>
                                <li class="fields">
                                    <div class="field">
                                        <label for="account:city" class="required"><em>*</em><?php echo $this->__('City') ?></label>
                                        <div class="input-box">
                                            <input type="text" title="<?php echo $this->__('City') ?>" name="account[city]" value="<?php echo $this->htmlEscape($this->getAddress()->getCity()) ?>" class="input-text required-entry" id="customer:city" />
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label for="account:region_id" class="required"><em>*</em><?php echo $this->__('State/Province') ?></label>
                                        <div class="input-box">
                                            <select id="account:region_id" name="account[region_id]" title="<?php echo $this->__('State/Province') ?>" class="validate-select" style="display:none;">
                                                <option value=""><?php echo $this->__('Please select region, state or province') ?></option>
                                            </select>
                                            <script type="text/javascript">
                                                //<![CDATA[
                                                $('account:region_id').setAttribute('defaultValue', "<?php echo $this->getAddress()->getRegionId() ?>");
                                                //]]>
                                            </script>
                                            <input type="text" id="account:region" name="account[region]" value="<?php echo $this->htmlEscape($this->getAddress()->getRegion()) ?>"  title="<?php echo $this->__('State/Province') ?>" class="input-text" style="display:none;" />
                                        </div>
                                    </div>
                                </li>
                                <li class="fields">
                                    <div class="field">
                                        <label for="account:postcode" class="required"><em>*</em><?php echo $this->__('Zip/Postal Code') ?></label>
                                        <div class="input-box">
                                            <input type="text" title="<?php echo $this->__('Zip/Postal Code') ?>" name="account[postcode]" id="account:postcode" value="<?php echo $this->htmlEscape($this->getAddress()->getPostcode()) ?>" class="input-text validate-zip-international required-entry" />
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label for="account:country_id" class="required"><em>*</em><?php echo $this->__('Country') ?></label>
                                        <div class="input-box">
                                            <?php echo $this->getCountryHtmlSelect('account') ?>
                                        </div>
                                    </div>
                                </li>
                                <li lang="fields">
                                    <div class="field">
                                        <label for="account:telephone" class="required"><em>*</em><?php echo $this->__('Telephone') ?></label>
                                        <div class="input-box">
                                            <input type="text" name="account[telephone]" value="<?php echo $this->htmlEscape($this->getAddress()->getTelephone()) ?>" title="<?php echo $this->__('Telephone') ?>" class="input-text required-entry" id="account:telephone" />
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label for="account:fax"><?php echo $this->__('Fax') ?></label>
                                        <div class="input-box">
                                            <input type="text" name="account[fax]" value="<?php echo $this->htmlEscape($this->getAddress()->getFax()) ?>" title="<?php echo $this->__('Fax') ?>" class="input-text" id="account:fax" />
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </fieldset>
                    </li>
                    <!--/ul>
            </div>
                <?php endif ?>
        
        <div class="fieldset">
                <h2 class="legend"><?php echo $this->__('Affiliate Account Information'); ?></h2>
                <ul class="form-list"-->
                <?php if ($this->getFormData('account_name')): ?>
                    <li class="fields">
                        <div class="field account-name">
                            <label for="account_name"><?php echo $this->__('Name'); ?></label>
                            <div class="input-box">
                                <strong>
                                    <span><?php echo $this->getFormData('account_name') ?></span>
                                </strong>
                                <input id="account_name" type="hidden" title="<?php echo $this->__('Name'); ?>" name="account_name"  value="<?php echo $this->getFormData('account_name') ?>"/>
                            </div>
                            <div id="affiliate_message_hidden" class="affiliate_message"></div>
                        </div>
                    </li>
                <?php endif ?>
                <li class="fields">
                    <div class="field paypal-email">
                        <?php if ($this->requiredPaypal()): ?>
                            <label class="required" for="paypal_email"><em>*</em><?php echo $this->__('Paypal Email'); ?></label>
                            <div class="input-box">
                                <input id="paypal_email" class="input-text required-entry validate-email" type="text" title="<?php echo $this->__('Paypal Email'); ?>" name="paypal_email" value="<?php echo $this->getFormData('paypal_email') ?>"/>
                            </div>
                        <?php else: ?>
                            <label for="paypal_email"><?php echo $this->__('Paypal Email'); ?></label>
                            <div class="input-box">
                                <input id="paypal_email" class="input-text validate-email" type="text" title="<?php echo $this->__('Paypal Email'); ?>" name="paypal_email" value="<?php echo $this->getFormData('paypal_email') ?>"/>
                            </div>
                        <?php endif ?>
                    </div>
                    <div class="field">
                        <label for="notification"><?php echo $this->__('Receive notification emails') ?></label>
                        <div class="input-box">
                            <select name="notification" id="notification" class="input-select">
                                <option value="0"><?php echo $this->__('No') ?></option>
                                <option value="1" selected="selected"><?php echo $this->__('Yes') ?></option>
                            </select>
                        </div>
                    </div>
                </li>
                <?php
                //hainh update for adding Referring WebSite field
                //22-04-2014
                ?>
                <li class="fields">
                    <div class="field">
                        <label for="referring_website"><?php echo $this->__('Referring WebSite'); ?></label>
                        <div class="input-box">
                            <input id="referring_website" class="input-text" type="text" title="<?php echo $this->__('Referring WebSite'); ?>" name="referring_website" value=""/>
                        </div>
                    </div>
                </li>
                <li class="fields">
                    <div class="field">
                        <label class="required" for="account_captcha"><em>*</em><?php echo $this->__('Verification'); ?></label>
                        <div class="input-box">
                            <img src="<?php echo $this->getUrl('affiliateplus/account/imagecaptcha'); ?>" id="account_captcha_image" />
                            <span id="affiliate-please-wait-captcha" style="display:none;" class="opc-please-wait">
                                <img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" class="v-middle" alt="" /> &nbsp; <?php echo $this->__('Getting new captcha') ?>...
                            </span>
                            <a href="javascript:void(0);" onclick="refreshCaptchaImage();
                                    return false;" id="affiliate-captcha-link"><?php echo $this->__("Refresh"); ?></a>
                        </div>
                    </div>
                </li>
                <li class="fields">
                    <div class="field">
                        <div class="input-box">
                            <input id="account_captcha" class="input-text required-entry" type="text" title="<?php echo $this->__('Captcha code') ?>" name="account_captcha" />
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="buttons-set">
            <p class="required">* <?php echo $this->__('Required Fields'); ?></p>
            <button class="button" title="<?php echo $this->__('Save'); ?>" type="submit">
                <span>
                    <span>
<?php echo $this->__('Save'); ?>
                    </span>
                </span>
            </button>
            <p class="back-link">
                <a href="javascript:history.go(-1)">
                    <button type="button" class="form-button button" onclick="javascript:history.go(-1)">
                        <span><?php echo $this->__('Back') ?></span>
                    </button>
                </a>
            </p>
        </div>

    </form>
</div>
<div class="clear"></div>	
<script type="text/javascript">
//<![CDATA[
    if ($('account-address-select')) {
        $('account-address-select').value = "<?php echo $this->getFormData('account_address_id') ?>";
        lsRequestTrialNewAddress($('account-address-select').value);
    }
    var signupAffiliateAccountForm = new VarienForm('signup_affiliate_account_form', true);

<?php if ($this->requiredAddress()): ?>
        var regionUpdate = new RegionUpdater('account:country_id', 'account:region', 'account:region_id', <?php echo $this->helper('directory')->getRegionJson() ?>, undefined, 'postcode');
<?php endif ?>

    function lsRequestTrialNewAddress(addressId) {
        if (addressId == "") {
            $('account-new-address-form').show();
        } else {
            $('account-new-address-form').hide();
        }
    }

    function refreshCaptchaImage() {
        var url = '<?php echo $this->getUrl('affiliateplus/account/refreshcaptcha') ?>';
        $('account_captcha_image').hide();
        $('affiliate-captcha-link').hide();
        $('affiliate-please-wait-captcha').show();
        new Ajax.Request(url, {
            method: 'get',
            onSuccess: function(transport) {
                var imageCapcha = new Image();
                imageCapcha.src = transport.responseText;
                $('account_captcha_image').src = imageCapcha.src;
                $('affiliate-please-wait-captcha').hide();
                $('account_captcha_image').show();
                $('affiliate-captcha-link').show();
            },
            onException: function(xhr, e) {
                $('affiliate-please-wait-captcha').hide();
                $('account_captcha_image').show();
                $('affiliate-captcha-link').show();
                alert('Exception: ' + e);
            }
        });
    }

    function checkEmailRegister(requestUrl, form) {
        var email_address = $('email_address').value;
        var params = {email_address: email_address};
        $('affiliate-please-wait-email').show();
        $('affiliate_message_hidden_email').hide();
        new Ajax.Updater(
                'affiliate_message_hidden_email',
                requestUrl,
                {
                    method: 'get',
                    onComplete: function() {
                        endCheckEmailRegister();
                    },
                    onSuccess: '',
                    onFailure: '',
                    parameters: params,
                    postBody: params
                }
        );
    }

    function endCheckEmailRegister() {
        $('affiliate-please-wait-email').hide();
        $('affiliate_message_hidden_email').show();
        if ($('is_valid_email').value == '0')
            $('email_address').value = '';
    }
//]]>
</script>
