<?php $_order = $this->getOrder() ?>
<div>
    <div id="order-messages">
        <?php echo $this->getChildHtml('order_messages') ?>
    </div>
    <input type="hidden" name="order_id" value="<?php echo $_order->getId() ?>"/>

    <?php echo $this->getChildHtml('crm_reminders') ?>


    <div class="box-left">
        <?php //echo $this->getChildHtml('order_assignment') ?>
        <?php echo $this->getChildHtml('order_attachment') ?>

    </div>
    <div class="box-right">
        <div class="entry-edit">
            <div class="entry-edit-head">
                <h4><?php echo Mage::helper('sales')->__('Comments History') ?></h4>
            </div>
            <fieldset><?php echo $this->getChildHtml('order_history') ?></fieldset>
        </div>
    </div>

    <div class="clear"></div>
</div>
