<?php $reminder = $this->getReminder(); ?>

<?php if (is_string($reminder)): ?>
    <p><?php echo $reminder; ?></p>
<?php else: ?>
    <div>
        <div class="content-header">
            <h3 class="icon-head head-adminhtml"><?php echo $reminder->getTitle() ?></h3>
        </div>
        <?php if ($reminder->getContent()): ?>
            <?php echo $reminder->getContent() ?>
        <?php endif; ?>
    </div>
<?php endif; ?>
