body{
	background:#FFF url(../images/bg.jpg) repeat-x;
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	overflow: hidden;
	font-size:15px;
	color:#000;
}
p,ul{
	font-size:15px;
	color:#464646;
	text-align:justify;
	line-height:18px;
}
p strong{
	color:#0e6828;
	font-weight:bold;
}
black{
	color:#000;
}
red{
	color:#880000;
}
.small{
	font-size:12px;
}
p a{
	color:#0e6828;
	text-decoration:underline;
}
p a:hover{
	text-decoration:none;
}
img{
	border:0;
}
a{
	text-decoration:none;
}
ul{
	list-style-image:url(../images/list.gif);
	margin:0;
	padding:0;
	margin-left:20px;
}
ul li a{
	color:#0e6828;
	text-decoration:underline;
}
ul li a:hover{
	text-decoration:none;
}
#header{
	width:970px;
	height:164px;
}
#header .logo{
	margin-left:20px;
	margin-top:48px;
	float:left;
}
#searchBar .cartLink{
	width:261px;
	margin-bottom:10px;
	color:#FFF;
	text-align:left;
	float:left;
}
#searchBar{
	width:261px;
	float:right;
	margin:0px;
	padding-top:74px;
	text-align:right;
}
#searchBar .searchBox{
	width:169px;
	height:24px;
	margin:0;
	padding:5px 8px;
	background:url(../images/search_bg.jpg) no-repeat;
	border:none;
	float:left;
	font-size:16px;
	color:#CCC;
}
#topmenu{
	width:970px;
	height:52px;
}
#quickLinks{
	margin:22px 0px;
	padding:5px 5px 15px 5px;
	border:#e5e5e5 1px solid;
	width:963px;
}
#quickLinks .h1{
	padding:14px;
	color:#880000;
	font-weight:bold;
	font-size:15px;
	line-height:17px;
	text-transform:uppercase;
}
#quickLinks .category{
	padding-left:14px;
	margin:22px 0;
}
#quickLinks .category a{
	line-height:18px;
	color:#850000;
	font-size:13px;
}
#quickLinks .category a:hover{
	color:#000;
}
#quickLinks .h2{
	padding-bottom:16px;
	color:#4f4f4f;
	font-weight:bold;
	font-size:15px;
	line-height:15px;
	text-transform:uppercase;
}
#quickLinks .h2 a{
	color:#4f4f4f;
	font-weight:bold;
	font-size:15px;
	line-height:15px;
	text-transform:uppercase;
}
#quickLinks .borderLeft{
	border-left:#e5e5e5 1px solid;
}
#copyright{
	font-size:11px;
	color:#313131;
	padding-bottom:25px;
	margin-left:5px;
}
.rightPan{
	height:30px;
	background:url(../images/rightpan_bg.jpg) no-repeat;
	color:#920000;
	font-weight:bold;
	font-size:16px;
	padding-left:40px;
	padding-top:20px;
	line-height:16px;
}
.rightPan a{
	color:#000;
	font-weight:normal;
}
.rightPan a:hover{
	color:#920000;
	font-weight:normal;
}
.btnRegister{
	width:269px;
	height:87px;
	background:url(../images/btn_register.jpg) no-repeat;
	margin-top:18px;
}
.btnRegister2{
	width:178px;
	height:50px;
	background:url(../images/btn_register.png) no-repeat;
}
.btnLogin{
	width:178px;
	height:50px;
	background:url(../images/btn_login.png) no-repeat;
}
.btnRegister a img, .btnRegister2 input, .btnLogin input{
	opacity:0.0;
	filter:alpha(opacity=0);/* For IE8 and earlier */
}

.btnRegister a img:hover, .btnRegister2 input:hover, .btnLogin input:hover{
	opacity:0.1;
	filter:alpha(opacity=10);/* For IE8 and earlier */
}
form{
	font-size:15px;
	line-height:32px;
	color:#000;
	font-weight:bold;
}
input.textField{
	border:1px #e2e2e2 solid;
	width:300px;
	height:20px;
	color:#666;
	font-size:15px;
	font-weight:normal;
	padding:5px;
}
#sortBy{
	float:right;
	margin:0;
	padding:0;
}
#sortBy select{
	margin-left:8px;
	width:160px;
}

#winesCate{
	border:#ebebeb 1px solid;
	background-color:#FFF;
}
#winesCate tr td{
	background-color:#fbfbfb;
}