<div id="order-shipping-method-choose">
<input type="radio" name="order[shipping_from]" value="London City Bond">London City Bond<br>
<input type="radio" name="order[shipping_from]" value="Provenance in Bond">Provenance in Bond<br>
<input type="radio" name="order[shipping_from]" value="other">Other(Please comment)&nbsp;<input type="text" name="order[shipping_from_comment]"><br>
</div>